#affichage{
    width: 100vh; 
    height: 70vh; 
    margin: auto; 
    padding-top: 50px;
}

.test{
    background-color: red;
    width: 100%;
    height: 100%;
}

.boutons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.boutons button{
    padding: 20px 40px;
    font-size: 2em;
}

#Base {
    
}
#BaseSecret {
    display: None;
}