.affichage{
    background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

#timer p {
    color: white;
}

.texte{
    margin-top: 20%;
}

.texte p{
    font-size: 2em;
    border-radius: 30px;
    border: none;
    margin: 5px 5px;
    transition: 0.25s;
    color: white;
}

.choix > div > button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color:rgb(179, 179, 208);
    height: 3.6em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.choix > div > button:active {
    transition: 0.1s;
    transform: scale(0.9);
}

button {
    border: none;
    background-color: transparent;
}

.choix > div > button {
    display: flex;
    flex: 1;
    width: 90%;
    height: 3.5em;
    transition: 0.3s;
    border-radius: 30px;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
    margin: auto;
    flex-flow: wrap;
    margin: auto 12px;
}

.choix{
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 7em;
    row-gap: 15px;
}

.haut, .bas {
    flex: 1;
    display: flex;
    flex-direction:row;
    margin: auto 10px;
}

@media (max-width: 80em) {
    .boutons {
        flex-direction: column;
        height: auto;
    }
    .boutons > div {
        width: 100%;
    }
}