.ligne {
    height: 33%;
    width: 100%;
     display: flex;
     flex-direction: row;
     position: relative;
}
.ligne > div {
    height: 100%;
    width: 100%;
}
button,
input{
    height: 100%;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10%;
    width: 100vw;
    height: 100vw;

}
button,
input,
body {
    padding: 0;
    margin: 0;
}