.imagesTop{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;


}
.imgTop {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: center;
    width: min(50vw,50vh);
    height: min(50vw,50vh);
    margin: 15vh auto 0 auto;
    background-color: white;
}

.ligne {
    height: calc(100%/3);
    width: 100%;
     display: flex;
     flex-direction: row;
     position: relative;
}
.ligne > div {
    height: 100%;
    width: 100%;
}

button{
    height: 100%;
    width: 100%;
    font-size: min(1.7vw,1.7vh);
    padding: 0;
    margin: 0;
    color: black;
    outline: none !important;
}
input{
    all: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    color: black;
    background-color: white;
    text-align: center;
}

body{
    background: url("https://exemple.edu.umontpellier.fr/files/2018/07/Admission.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 95vh;
}

footer{
    height: 30vh;
    width: 100%;
    position: inline;
    bottom: 0;
    background-color: #2C3E50 ;
    color: white;
    border:40PX,lawngreen ;
    padding: 40px,30px;
}

.footer_img{
    display: inline;
    position:relative;
    left: 10%;
    margin: 10%;
}

.footer_img1{
    display: inline;
    width: 10%;
    height: auto;
}
.footer_img2{
    width: 50%;
}

.adresse{
    padding-top: 5vh;
    font-size: 1.5vh;
    margin-left: 20%;
}

main{
    display: flex;
    max-height:100%;
    font-size: min(1.7vw,1.7vh);
    background-color:rgba(255,255,255,0.9);
}

.sideBarRigth > *{
    margin: 5%;
    vertical-align: center;
}

.sideBarLeft, .sideBarRigth{
    width: 33%;
    display: block;
}

.middleBar{
    margin: 2%;
}

.help, .stats{
    height: fit-content;
    padding-left:10%;
}

.help, .informations, .chiffres, .stats{
    vertical-align: center;
    top : 5px;
    text-justify: auto;
}

p{
    text-align: left;
}

h2,h3{
    text-align: center;
    font-weight:bold;
}

h2:hover{
    color: #FF5660;
}

ul{
    overflow: hidden;
}

.stats{
    color:  #FF5660;
}
